body {
    font-family: "Poppins", sans-serif;
}
.pagination .selected {
    background-color: #2d815a !important;
    color: white !important;
}
.background-img {
    background-image: url("./img/awards-bg.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
